.food-list-page {
  background-color: #eddede86;
  width: 90%;

  margin: auto;

  border-radius: 1.5em;
  padding: 0 1em;
}

@media screen and (max-width: 600px) {
  .food-item {
    margin-left: 4em;
  }
}
.food-item:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.308);
  transform: translate(0, -1em);
  transition: 1s;
}
.food-item-name {
  font-weight: bold;
  text-align: center;
  padding: 1em 0;
  font-size: 2rem;
}
.food-list-image {
  padding-top: 60%;
}

.food-item-description {
  text-align: center;
  text-decoration: none;
}
.food-list-item-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.food-item-actions {
  justify-content: center;
}

.for-no-food {
  text-align: center;
  color: rgb(107, 107, 107);
}
